
  <div class="content-signIn">
    <form class="form-signIn">
        <h1 class="title-signin">SIGN UP</h1>
        <div class="mt-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="mt-3">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Email or Phone number">
        </div>
        <div class="mt-3">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
        </div>
        <div class="mt-3">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Comfirm Password">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="mt-3 form-forgot">
                <label class="form-check-label" for="flexCheckDefault">
                    I accept the term of  <span><b>Return Policy</b></span>
                 </label>

            </div>

        </div>
        <div class="d-grid gap-2 mt-3">
            <button type="button" class="btn btn-primary btn-block "><b>SIGN UP</b></button>
            <div class="signin-down">
                <a href="#">Do you have an account ?</a>
                <a  href="#" style="color: black;">Sign In</a>
            </div>
        </div>

    </form>
    <div class="signIn-image">
        <img class="half" src="../../../assets/bitexco3.jpg">
    </div>
  </div>


