
    <h1 class="title-feature">Features</h1>
    <div class="row content-feature">
        <div  class="col-sm-6">
            <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                <div class="card-header">
                    <i class="fas fa-info-circle icon-features" ></i>
                </div>
                <div class="card-body">
                <h5 class="card-title">Xem thông tin kiến trúc tòa nhà</h5>
                <p class="card-text">Xem hình dáng , thông tin của tòa bitexco trên bản đồ 3D để có cái nhìn tổng thể giúp đưa ra các quyết định qui hoạch cảnh quan đô thị.</p>
                <div class="map-info">
                    <p class="card-text"><b>Xem bản đồ 3D</b></p>
                    <a href="" routerLink="/map/map-outside">
                    <button class="butt-info"><i class="fas fa-arrow-right"></i></button>
                    </a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                <div class="card-header">
                    <i class="far fa-building icon-features "></i>
                </div>
                <div class="card-body">
                <h5 class="card-title">Xem chi tiết bên trong tòa nhà</h5>
                <p class="card-text">Xem chi tiết cơ sở vật chất bên trong tòa nhà từ đó có cái nhìn trực quan hơn và thấy được kết cấu, hình dáng bên trong cơ sở hạ tầng của tòa bitexco.</p>
                <div class="map-info">
                    <p class="card-text"><b>Xem bản đồ 3D</b></p>
                    <a href="" routerLink="/map/map-inside">
                    <button class="butt-info">
                      <i class="fas fa-arrow-right"></i>
                    </button>
                  </a>
                </div>
                </div>
          </div>
        </div>
    </div>
