<div>
  <h1 class="title-booking">Booking</h1>
  <div class="booking-content">
      <div class="carousel-content">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/bitexco1.jpg" class=" d-block  carou-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/bitexco2.jpg" class=" d-block  carou-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/bitexco3.jpg" class=" d-block carou-img" >
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p style="text-align: center; ">Toàn cảnh tòa Bitexco</p>
            <br>
            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/53.jpg" class=" d-block  carou-img" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/skydeck.jpg" class=" d-block  carou-img" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/bitexcogody.jpg" class=" d-block carou-img" >
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <p style="text-align: center; ">Khám phá bên trong tòa Bitexco</p>
          </div>
      </div>


      <div class="card-content">
          <div class="card-body booking-body">
              <h5 class="card-title booking-title">Thông tin đặt vé</h5>
              <table>
                  <tr>
                      <td><b>Mã vé:</b></td>
                      <td class="table-content">SG-SKYDECK</td>
                  </tr>
                  <tr>
                      <td><b>Tình trạng:</b></td>
                      <td class="table-content">Còn chỗ</td>
                  </tr>
                  <tr>
                      <td><b>Lịch khởi hành:</b></td>
                      <td class="table-content">Hàng ngày</td>
                  </tr>
              </table>
              <hr>
              <p class="card-text align"><b>Giá/ khách</b></p>
              <p class="card-text">- Người lớn: <b>200.000 VNĐ</b></p>
              <p class="card-text">- Trẻ em dưới (4 tuổi - 12 tuổi đi kèm người lớn): <b>130.000 VNĐ</b></p>
              <p class="card-text">- Người Già (trên 65 tuổi): <b>130.000 VND</b></p>
              <p class="card-text">- Người Tàn Tật: <b>130.000 VND</b></p>
              <p class="card-text">- Trẻ em dưới 4 tuổi được miễn phí và phải có người lớn đi cùng</p>
              <hr>
              <p class="card-text align"><b>Số lượng</b></p>
              <div class="input-group flex-nowrap mt-3">
                  <span class="input-group-text inp-booking" id="addon-wrapping">Người lớn</span>
                  <div class="quantity">
                    <button class="counter-descrease butt-quanti"><i class="fa fa-minus"></i></button>
                    <input id="counter-number" type="number"  value="0" >
                    <button class="counter-increase butt-quanti"><i class="fa fa-plus"></i></button>
                 </div>
              </div>
              <div class="input-group flex-nowrap mt-3">
                  <span class="input-group-text inp-booking" id="addon-wrapping">Người cao tuổi (65+ tuổi)</span>
                  <div class="quantity">
                    <button class="counter-descrease butt-quanti"><i class="fa fa-minus"></i></button>
                    <input id="counter-number" type="number" value="0" >
                    <button class="counter-increase butt-quanti"><i class="fa fa-plus"></i></button>
                 </div>
              </div>
              <div class="input-group flex-nowrap mt-3">
                  <span class="input-group-text inp-booking" id="addon-wrapping">Trẻ em (4-12 tuổi)</span>
                  <div class="quantity">
                    <button class="counter-descrease butt-quanti"><i class="fa fa-minus"></i></button>
                    <input id="counter-number" type="number"  value="0" >
                    <button class="counter-increase butt-quanti"><i class="fa fa-plus"></i></button>
                 </div>
              </div>
              <div class="input-group flex-nowrap mt-3">
                  <span class="input-group-text inp-booking" id="addon-wrapping">Người tàn tật</span>
                  <div class="quantity">
                    <button class="counter-descrease butt-quanti"><i class="fa fa-minus"></i></button>
                    <input id="counter-number" type="number" value="0" >
                    <button class="counter-increase butt-quanti"><i class="fa fa-plus"></i></button>
                 </div>
              </div>
              <hr>
              <div class="input-group flex-nowrap mt-3">
                  <span  class="input-group-text" id="addon-wrapping"><b>Ngày sử dụng*</b></span>
                  <input type="date" class="form-control" placeholder="Click để chọn ngày" >
              </div>
              <p class="card-text mt-3"><b>***Lưu ý: Vé phải đặt trước ít nhất 24h so với ngày sử dụng.</b></p>
              <div class="col text-center">
                  <button type="button" class="btn btn-success btn-lg align">Đặt ngay</button>
              </div>


            </div>
      </div>
  </div>
</div>

<script>
const counterNumber = document.getElementById("counter-number");
const counterAdd = document.querySelector(".counter-increase");
const counterMinus = document.querySelector(".counter-descrease");

counterAdd.addEventListener("click", function () {
let counterValue = parseInt(counterNumber.value);
   counterValue++;

   counterNumber.value=counterValue;
});
counterMinus.addEventListener("click", function () {
 let counterValue = parseInt(counterNumber.value);
if (counterValue <= 0) return 0;
counterValue--;
counterNumber.value=counterValue;
});
</script>

