
<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <a href="#" class="footer-brand">
          <img src="https://puu.sh/IwrVm/8545077f2d.png" height="60em">
        </a>
        <p class="pr-5 text-white-50">BitexView là một ứng dụng rất tuyệt vời dành cho kỹ sư trắc địa hoặc những người có nhu cầu định vị, nhu cầu tìm điểm. Chỉ với một chiếc điện thoại thông minh có cài đặt hệ điều hành Android hoặc IOS thì có thể tải về xài miễn phí. Các ứng dụng này có thể thay thế các thiết bị GPS cầm tay hiện nay chỉ bằng cài cài chúng vào điện thoại thông minh mà bạn có! </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
          <ul class="m-0 p-0">
            <li>- <a href="#">Home</a></li>
            <li>- <a href="#">3D Map</a></li>
            <li>- <a href="#">Contact</a></li>
            <li>- <a href="#">Booking</a></li>
            <li>- <a href="#">News</a></li>
            <li>- <a href="#">Blogs</a></li>
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>KTX khu B, ĐHQG TP.HCM. khu phố 6, Linh Trung, Thủ Đức</p>
        <p class="mb-0">Phone: 0908134704</p>
        <p>Mail: 18521081@gm.uit.edu.vn</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2021 . All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
  </div>
