<div class="content-signIn">
  <form class="form-signIn">
      <h1 class="title-signin">Contact Us</h1>
      <div class="mt-3">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
      </div>
      <div class="mt-3">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
      </div>
      <div class="mt-3">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
      </div>
      <div class="mt-3">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Messenge">
      </div>
      <div class="d-grid gap-2 mt-3">
          <button type="button" class="btn btn-primary btn-block "><b>Submit</b></button>
      </div>
  </form>
  <div class="contact-image">
      <img class="half" src="../../../assets/bitexco2.jpeg">
  </div>
</div>
